@model IEnumerable<EduConnect.Models.Appointment>
@using EduConnect.Services
@using Microsoft.AspNetCore.Identity
@using System.Web

@inject IAppointmentsManager appointmentManager

@{
    ViewData["Title"] = "Index";
    var aManager = await appointmentManager.GetAppointmentsByCurrentPerformer();
}

<link rel="stylesheet" href="~/css/StudentHome.css" />


<body>
    <a class="btn btn-primary" asp-controller="Courses" asp-action="Index">View my account</a>
    <a class="btn btn-primary" asp-controller="Reviews" asp-action="Index">View my reviews</a>
    <section class="profile">
        <div class="naslov">
            <h1><span class="recommended">All of your appointments</span></h1>
        </div>
        <button class="pre-btn"><img src="/img/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="/img/arrow.png" alt=""></button>

        <div id="profile-container">
            @foreach (var item in aManager)
            {

                <div class="appointment-card">

                    <p>@Html.DisplayNameFor(model => model.Price) :@Html.DisplayFor(modelItem => item.Price)</p>
                    <p> @Html.DisplayNameFor(model => model.Time) :@Html.DisplayFor(modelItem => item.Time)</p>
                    <p>@Html.DisplayNameFor(model => model.Day) :@Html.DisplayFor(modelItem => item.Day)</p>
                    <a asp-action="Details" asp-route-id="@item.Id">Accept or decline appointment</a>
                </div>
            }

        </div>
    </section>

    <script src="/js/StudentHome.js"></script>
</body>

