@page
@model RegisterModel
@{
    ViewData["Title"] = "EduConnect";
}

<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="~/css/RegisterStyle.css" />
</head>
<body>
    <div class="center">
        <h1>Register</h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Name</label>
            </div>
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Surname</label>
            </div>
            <div class="txt_field">
                <input type="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="tel" required>
                <span></span>
                <label>Phone Number</label>
            </div>
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>City</label>
            </div>
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="signup_link">
                Already a member? <a href="#">Login</a>
            </div>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
