﻿﻿@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/HomeStyle.css" />

<body>
    <div class="intro">
        <h1>Welcome to EduConnect</h1>
        <p>Find tutors in any subject and for all levels of study.</p>
    </div>

    <div class="achievements">
        <div class="achievements-heading">
            <h2>Our Services</h2>
        </div>
        <div class="work">
            <div class="work-icon">
                <div class="icon-box"></div>
            </div>
            <div class="work-content">
                <p class="work-heading">Academic Tutoring</p>
                <p class="work-text">Get personalized academic tutoring from our experienced instructors, tailored to your needs and goals.</p>
            </div>
        </div>
        <div class="work">
            <div class="work-icon">
                <div class="icon-box"></div>
            </div>
            <div class="work-content">
                <p class="work-heading">Online Tutoring</p>
                <p class="work-text">Experience interactive and convenient online tutoring sessions with our dedicated educators.</p>
            </div>
        </div>
    </div>

    <div class="why-us">
        <div class="why-us-text">
            <h2>WHY CHOOSE US?</h2>
            <p>Discover Your Path to Success with Us!</p>
            <ul>
                <li>Diverse selection of courses across various disciplines</li>
                <li>Expert instructors who are passionate about sharing their knowledge</li>
                <li>Flexible learning options</li>
                <li>Interactive learning experience that go beyond textbooks and lectures</li>
                <li>Personalized support throughout your learning journey</li>
            </ul>
        </div>
        <img src="https://images.unsplash.com/photo-1596495578065-6e0763fa1178?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" alt="me">
    </div>

    <section class="ft-main">
        <div class="ft-main-item text-center">
            <div class="number-square">56</div>
            <p>Available subjects</p>
        </div>
        <div class="ft-main-item text-center">
            <div class="number-square">41</div>
            <p>Skilled instructors</p>
        </div>
        <div class="ft-main-item text-center">
            <div class="number-square">167</div>
            <p>Happy Students</p>
        </div>
    </section>
</body>