﻿﻿﻿@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/HomeStyle.css" />

<body>
    <div class="intro">
        <div class="content">
            <h1>Welcome to EduConnect</h1>
            <p>Find tutors in any subject and for all levels of study.</p>
            <div>
                <a class="main-btn" asp-controller="Tutors" asp-action="Index"><span class="cover"></span>Go to students main page</a>
            </div>
        </div>
    </div>

</body>

