@model EduConnect.Models.Tutor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tutor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" style="visibility: hidden"/>
                <span asp-validation-for="Image" class="text-danger"></span>
                <div style="padding: 1rem; display: grid; grid-template-columns: 50% 50%">
                    <div id="results">Slika će se prikazati ovdje...</div>

                    <div style="margin-left: 20rem">
                        <div id="my_camera"></div>

                        <script type="text/javascript" src="~/js/webcam.min.js"></script>

                        <script>
                            Webcam.set({
                                width: 320,
                                height: 240,
                                image_format: 'jpeg',
                                jpeg_quality: 90
                            });
                            Webcam.attach('#my_camera');
                        </script>

                        <script>
                            function take_snapshot() {
                                Webcam.snap(function (data_uri) {
                                    document.getElementById('results').innerHTML = '<img src="' + data_uri + '"/>';
                                    document.getElementById('Image').value = data_uri;
                                });
                            }
                        </script>

                        <input type=button id="takeshot" class="btn btn-primary" value="Uslikaj" onClick="take_snapshot()">
                    </div>
            </div>

            <div class="form-group">
                <label asp-for="CV" class="control-label"></label>
                <input asp-for="CV" class="form-control" />
                <span asp-validation-for="CV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
