@model IEnumerable<EduConnect.Models.Tutor>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/StudentHome.css" />

<body>
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
        <button type="button" class="btn btn-outline-primary">Filter</button>
    </div>
    <section class="profile">
        <div class="naslov">
            <h1><span class="recommended">Recommended</span></h1>
        </div>
        <button class="pre-btn"><img src="/img/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="/img/arrow.png" alt=""></button>
        <div id="profile-container">
            @foreach (var item in Model)
            {
                <div class="profile-card">
                    <div class="profile-image">
                        <img src=@item.Image>
                        <a class="card-btn" asp-action="Details" asp-route-id="@item.Id">View profile</a>
                    </div>
                    <div class="profile-info">

                        <h5>@Html.DisplayFor(modelItem => item.UserName)</h5>

                        <p class="profile-short-description">Opis</p>
                    </div>
                </div>
            }

        </div>
    </section>
    <script src="/js/StudentHome.js"></script>
</body>

